.main {
  width: 1024px;
  margin: auto;
  background-color: $background-color;
  &.login {
    position: relative;
    top: 5%;
    min-height: 0;
    width: 400px;
  }
}

.medium {
  width: 600px;
  margin: auto;
}

.large {
  width: 800px;
  margin: auto;
}


#content, .page {
  padding: gutter(2);
}