.main {
  width: 800px;
  margin: auto;
  background-color: $background-color;
  &.login {
    position: relative;
    top: 33%;
    min-height: 0;
    transform: translateY(-50%);
    width: 400px;
  }
}

#content {
  padding: gutter() gutter(2);
}