.header {
  width: 100%;
  margin: auto;
  padding: 12px gutter(2);
  background-color: $header-color;
  .logo {
    display: inline-block;
    width: 325px;
    height: 25px;
    background: svg-inline(logo) no-repeat;
  }
}