.icon-wrapper {
  display: inline-block;
  width: 30px;
  height: 30px;
  &.large {
    width: 100px;
    height: 100px;
  }
}

.icon {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: $header-color;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  &.icon-inline {
    display: inline-block;
    width: 20px;
    height: 20px;
    position: relative;
    top: 3px;
    background-size: contain;
    border-radius: 0;
  }
  &.spinner {
    @include spinner();
    background-color: transparent;
  }
  &.error {
    background-image: svg-inline(cross);
    background-color: $red;
  }
  &.fail {
    background-image: svg-inline(cross);
    background-color: $header-color;
  }
  &.ready {
    background-image: svg-inline(checkmark);
  }
  &.done {
    background-image: svg-inline(checkmark);
    background-color: $green;
  }
  &.no-image {
    background-image: svg-inline(noimage);
    background-color: transparent;
  }
  &.image {
    background-image: svg-inline(image);
    background-color: transparent;
  }
  &.link {
    background-image: svg-inline(link);
    background-color: transparent;
  }
}

