.id-form {
  display: flex;
  margin-bottom: gutter();
  font-size: 18px;
  font-weight: 500;
  label, input {
    line-height: 25px;
  }

  button {
    height: 25px;
    font-size: 10px;
    line-height: 21px;
  }

  @include gutter-children-margin(0.5);
}