.id-form {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: gutter();
  button {
    height: 22px;
    font-size: 10px;
    line-height: 1;
  }
  @extend %flex-center;
  @include gutter-children-margin();
}