.login-form {
  .form-group {
    margin-bottom: gutter();
  }

  label input {
    margin-top: gutter(0.25);
  }

  .submit {
    font-size: 16px;
    padding: 10px 50px;
    float: right;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + span {
    display: inline-block;
  }

  input[type="checkbox"]:checked + span:before {
    background: svg-inline(checkmark) no-repeat center;
    background-color: $green;
    background-size: 15px 15px;
    border: none;
  }

  input[type="checkbox"] + span {
    display: block;
    padding-left: 3rem;
    position: relative;
  }

  input[type="checkbox"] + span:before {
    content: " ";
    position: absolute;
    margin-right: 10px;
    left: 0;
    top: 5px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 2px;
  }
}

.login-form--submit-btn-container {
  margin-bottom: 50px;
}

.login-header {
}