.login-form {
  .form-group {
    margin-bottom: gutter(1.5);
  }

  label input {
    margin-top: gutter(0.5);
    font-size: 18px;
    font-weight: 500;
  }

  .submit {
    font-size: 16px;
    padding: 10px 50px;
  }

  input[type="checkbox"] {
    display: none;
  }

  input[type="checkbox"] + span {
    display: inline-block;
  }

  input[type="checkbox"]:checked + span:before {
    background: svg-inline(checkmark) no-repeat center;
    background-color: $green;
    background-size: 15px 15px;
    border: none;
  }

  input[type="checkbox"] + span {
    display: block;
    padding-left: 3rem;
    position: relative;
  }

  input[type="checkbox"] + span:before {
    content: " ";
    position: absolute;
    margin-right: 10px;
    left: 0;
    top: 1px;
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 2px solid;
    border-radius: 2px;
  }

  .message {
    margin-bottom: gutter(1.5);
  }
}

.login-form--submit-btn-container {
  text-align: right;

}

.login-header {
}