.previews {
  .list {
    margin-bottom: gutter(2);
  }
  h2 {
    margin-bottom: gutter();
  }
}

.preview {
  display: flex;
  @include gutter-children-padding();
  @include spacer(80%);
  .status {
    width: 25%;
  }
  .preview-form {
    flex-grow: 1;
    overflow: hidden;
  }
}

.preview-images {
  display: flex;
  white-space: nowrap;
  @include gutter-children-margin(0.5);
  .image {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100px;
    img {
      width: 100%;
    }
    .description {
      text-align: center;
    }
  }
}

.noverflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}