.previews h2 {
  margin-bottom: gutter();
}

.preview {
  display: flex;
  @include gutter-children-padding();
  @include spacer(80%);
  .status {
    width: 20%;
  }
  .main {
    flex-grow: 1;
  }
  .image + .image {
    margin-left: gutter(0.5);
  }
  .image {
    display: inline-block;
    width: 100px;
    img {
      width: 100%;
    }
    .description {
      text-align: center;
    }
  }
}